<template>
    <div>
        <li v-for="item in items">
            {{ item.id }}: {{ item.name }}
        </li>
    </div>
</template>

<script>
    export default {
        props: ['items'],
        mounted() {
            console.log('List mounted')
        }
    }
</script>
